@font-face {
    font-family: 'lakeshore';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/LAKESHOR-webfont.eot');
    src: url('fonts/LAKESHOR-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/LAKESHOR-webfont.woff') format('woff'),
    url('fonts/LAKESHOR-webfont.ttf') format('truetype'),
    url('fonts/LAKESHOR-webfont.svg#lakeshore') format('svg');
}

body {
    background-color: #FF4631;
    font-size: 10px;
}

a {
    text-decoration: none;
}

.logo-text {
    background: white;

    font-family: 'lakeshore';
    font-size: 37px;
    text-align: center;
    text-transform: uppercase;
}

.thumbnail-item+.thumbnail-item {
    margin-top: 10px;
}

.thumbnail-item {
    border: 1px solid rgb(100%, 100%, 100%);
    border: 1px solid rgba(100%, 100%, 100%, 0.8);
    display: inline-block;
    width: 120px;
}

.thumbnail-list {
    list-style: none;
    overflow-x: auto;
    padding: 0;
    white-space: nowrap;
}

.thumbnail-image {
    display: block;
    width: 100%;
}

.thumbnail-title {
    background: #B22211;
    color: #00B257;
    display: block;
    font-size: 18px;
    margin: 0;
    padding: 4px 10px;
}