body {
    font-size: 10px;
}

a {
    text-decoration: none;
}

.thumbnail-title {
    background: rgb(96, 125, 139);
    color: rgb(202, 238, 255);
    display: block;
    font-size: 18px;
    margin: 0;
    padding: 4px 10px;
}